body {
	background-color: #333;
}
.container {
	width: 1140px;
	margin: 0 auto;
	background-color: #333;
	color: #fff;
}
h1,
h2,
h3 {
	text-align: center;
	margin-top: 30px;
	color: #25FFE6;
}
ul {
	width: 75%;
	margin: 0 auto;
}
.sprite-example {
	margin: 10px 0 30px 0;
	text-align: center;
}
.pittsburgh,
.philadelphia,
.toronto {
	background-image: url('sprite.png');
	background-repeat: no-repeat;
	display: inline-block;
}
.pittsburgh {
	height: 150px;
	width: 210px;
	background-position: -900px -460px;
}
.philadelphia {
	height: 150px;
	width: 210px;
	background-position: -675px -460px;
}
.toronto {
	height: 150px;
	width: 210px;
	background-position: -900px -610px;
}